xml/new_model.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Thing">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="part" type="Part"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Part">
    <xs:sequence>
      <xs:element name="bit" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>